body {
  margin: 0;
  overflow-x: hidden;
  font-family: Rubik;
}

.header{
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.header-main{
  position: fixed;
  background-color: white;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  padding: 20px 50px;
}
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.ui.text.container h4 {
  line-height: 4rem;
  font-weight: normal;
}

.ui[class*="center aligned"].segment {
  text-align: left !important;
}

.right.menu a {
  padding: 0px 20px;
}
.content-home section{
  visibility: hidden;
  /* animation: none; */
}
.segment_what_we_do,
.segment_technology,
.segment_solutions,
.segment_partners{
  animation-duration: 4s;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.visible {
  visibility: visible !important;
}

/*-------- Header Home --------- */

#block-newroco-site-branding img {
  max-width: 40% !important;
}

.layout.layout--onecol,
.layout__region {
  text-align: center;
  padding: 50px 0px;
}

/*-------- Block Who We Are --------- */
.block_who_we_are{
  height: 600px;
  color:#fff;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.home_background {
  background-image: linear-gradient(30deg, rgba(85, 41, 164, .1) 100%, #fff), url(img/bg_home.png);
    background-position: 51% 100%;
    background-size: auto, cover;
    border-bottom-left-radius: 100px;
    height: 600px;
}
.block_who_we_are h2{
  color: #fff !important;
}
.block_who_we_are strong{
  color: #fff !important;
  font-size: 50px !important;
}
.block_who_we_are p{
  font-size: 24px !important;
  width: 550px;
  font-weight: 700;
}


/*-------- Block What We Do --------- */
.segment_what_we_do {
  padding-bottom: 10rem;
  text-align: center;
}

.block_what_we_do {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 6em;
}
.block_what_we_do p{
  max-width: none !important;
}

.list_card .field__item {
  display: inline-flex;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin: 20px 20px;
  background-color: #F8F6F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*-------- Block Founfing--------- */

.segment_founding {
  color: #333;
  text-align: center;
  padding: 23px;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.02), 0 20px 24px -4px rgba(16, 24, 40, 0.03);
  width: 72rem;
  height: 12rem;
  background-image: linear-gradient(to right, #4c98fd, #b7dcff);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 78rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation-duration: 6s;
  animation-name: fadeInLeftBig;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.block_founding {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
}

.block_founding h6 {
  margin: 0px;
  color: white;
  font-size: 18px;
}

.block_founding h2 {
  color: white !important;
}

/*-------- Block Welcome to Newroco--------- */

.welcome_to_newroco {
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.welcome_to_newroco img{
  width: 12%;
  position: relative;
  height: unset;
}
.segment_welcome {
  padding: 40px 50px;
  background-color: #f9fafb;
  height: 23rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}

.segment_welcome h4 {
  font-size: 28px !important;
}

/* ---- Technology ---- */
.technology {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  max-width: none !important;
}

.technology h2 {
  padding-bottom: 50px;
}

.technology .field__item img {
  filter: contrast(0.7) sepia(100%) hue-rotate(171deg) brightness(1);
}

.technology img:hover {
  filter: none;
}
.technology  a{
  background-color: #f8f9fa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,.1);
  box-shadow: 0px 0px 16px rgba(0,0,0,.1);
  display: grid;
  height: 164px;
  min-width: 164px;
  padding: 20px;
  place-items: center;
  width: 164px;
}
.technology .field--name-field-content-1{
  display: flex;
    width: 76rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* ---- Solution ---- */
.solution > div{
  width: 30%;
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }

  25% {
    left: 100px;
    top: 0px;
  }

}

.segment_solutions {
  height: 25rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.segment_solutions>div{
  background-image: linear-gradient(270deg, #2684dc 0%, rgba(250,250,255,0) 120%);
  border-radius: 100px;
  margin-bottom: 20px;
  padding: 40px 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  gap: 10rem;
}
.segment_solutions .field__items{
  width: 26rem;
}

.solution {
  color: #fff;
  padding: 40px 50px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate;

}
.solution_list h3 {
  color: #fff !important;
}
.solution_list p {
  color: #fff !important;
  padding-left: 45px;
  padding-top: 5px;
}
.solution_list li {
    height: 1.5rem !important;
    align-items: center !important;
    padding-bottom: 5px;
    padding-top: 40px;
}

.solution2 img {
  width: 71%;
  filter: contrast(0.7) sepia(100%) hue-rotate(171deg) brightness(9) opacity(0.5);
}

/*---- Partners ----*/
#block-newroco-our-international-partners {
  margin-bottom: 3em;
  padding-top: 80px;
}
#block-newroco-our-international-partners p{
  max-width: none;
}

#cp1_card,
#atmos_card,
#tagonsoft_card
{
  padding: 30px;
  left:0px !important;
}

#cp1_card{
  margin-left: 0px!important;
  width: 22%;
}

#atmos_card{
  margin-right: 0px!important;
  width: 34%;
}

#tagonsoft_card{
  margin-right: 0px!important;
  width: 22%;
}

#cp1_card a,
#atmos_card a,
#tagonsoft_card a{
  background-image: linear-gradient(to right, #457fca 0%, #5691c8 51%, #457fca 100%);
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}
#cp1_card a:hover,
#atmos_card a:hover,
#tagonsoft_card a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#cp1_card h6,
#tagonsoft_card h6,
#atmos_card h6 {
  font-weight: normal !important;
  font-size: 16px !important;
}
.partners{
  display:inline-flex;
  text-align: center;
}
.segment_partners {
  text-align: center;
}

/* ---- Looking for a job  -----*/
.looking_for_a_job {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-top: 50px;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
.looking_for_a_job p,
.looking_for_a_job a{
  padding-bottom: 40px;
}
.looking_for_a_job p{
  max-width: none !important;
}
.looking_for_a_job a {
  background-image: linear-gradient(to right, #457fca 0%, #5691c8 51%, #457fca 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}
.looking_for_a_job a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.looking_for_a_job h2{
  background-image: linear-gradient(to right, #457fca 0%, #5691c8 51%, #457fca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---- Footer ----*/
.footer img{
  position: absolute;
}
#block-newroco-footer-2 img{
  width: 30px;
  height: auto;
}
.footer p{
  padding-left: 40px;
  height: 40px;
  font-size: 18px !important;
  color: #180D3D !important;
}
footer{
  background-color: white;
  padding: 40px 60px;
}
footer h2{
  font-size:24px !important;
  color: #180D3D !important;
}
.footer{
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.footer_logo{
  width: 60%;
  align-self: center;
}
.block_footer {
  width: 40%;
}
.block_footer img{
  height: unset;
  width: auto;
}
.footer_logo img{
  width: 80%;
}

.content_footer nav{
  width: 25%;
  align-items: center;
}
.footer ul{
  flex-direction: column !important;
  gap: 0.2rem!important;
}
.ping_footer:after{
  -webkit-animation: ping 1.4s ease-in-out infinite;
  animation: ping 1.4s ease-in-out infinite;
  width: 17px;
  height: 17px;
  background-color: #180D3D;
  position: absolute;
  border-radius: 100%;
  display: block;
  content: "";
  top: 60px;
  animation-delay: .2s;
}

.ping_footer{
  right: 10%;
}

@keyframes ping {
  0% {
    transform: scale(.2);
    opacity: .8;
  }

  80% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.content_footer > div {
  display: inline-flex;
  justify-content: space-between;
  gap: 3rem;
}
.footer a{
  font-size: 18px;
}

.home_background .filter-image-invalid{
  width: -webkit-fill-available;
  height: unset;
}
