.portfolio_header {
    position: absolute;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    width: 45%;
    align-items: center;
    left: 50%;
    color: white;
    top: 9%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
}
.portfolio_header h2{
    color:#fff !important;
}


/*-------------------------------------*/
.PortfolioList{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 90px 0 80px;
}
.content_portfolio{
    width: 100%;
    max-width: 122rem;
    position: relative;
    flex-direction: column;
    color: #fff;
    -webkit-box-align: center;
}
.views-row {
    max-width: 25em;
    background: #fff;
    color: black;
    border-radius: 20px;
    box-shadow: 8px 14px 38px rgba(39,44,34,-0.315), 1px 3px 8px rgba(39,44,37,0.4);
}
.portfolio-list {
    display: grid;
    gap: 4em;
    max-width: 90em;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    align-items: stretch;
}
.btn-read-more a{
background-image: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.btn-read-more a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.views-field-view-node{
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    height: 5em;
    padding-bottom: 2.5rem !important;
}
.views-field-field-header-portfolio{
    height: 6em;
}
.views-field-field-header-portfolio h2 {
    font-size: 1.6rem !important;
    margin: 50px 0 10px 0;
    font-family: Poppins,'Source Sans Pro',sans-serif !important;
    background: linear-gradient(to right,#005C97 0%,#363795 51%,#005C97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.views-field-field-image-portfolio img{
    width: 450px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: black 1px solid;
}
.views-field-field-description{
    height: 18em;
}
.views-field-field-description p {
    font-family: Merriweather, Georgia,serif;
    font-size: 1.1rem;
    color: #000;
    line-height: 1.6;
}
.views-field-field-header-portfolio,
.views-field-field-description,
.views-field-view-node
{
 padding: 0rem 2rem;
}

/* ---------------------------*/

.portfolio_footer{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 200px;
}

.portfolio_footer a {
    background-image: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
  }

.portfolio_footer a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
.portfolio_footer h2{
    background: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
    font-size: 2em !important;

  }
.portfolio_footer p{
    max-width: none !important;
  }

/* -----------------------------------------------------------*/
.digital_solution{
    padding-bottom: 80px;
}
.digital_solution > .field__item,
.digital_solution > .field__item > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    grid-column-gap: 8em;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 3em;
}
.digital_solution > .field__item > ul{
    gap:unset !important;
}
.digital_solution > .field__item > li{
    font-size: 18px !important;
}
.field--name-field-header-portfolio{
    text-align: center;
    padding: 4rem 2rem 0 2rem !important;
}
.field--name-field-header-portfolio h2{
    background: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    margin:0px;
}
/* .digital_solution > .field__item > *{
    flex: auto 1;
} */
.digital_solution > .field__item > img {
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
    width: 47em;
}

.digital_solution > .field__item > p {
    max-width: 25rem;
    font-family: "TT Norms",Helvetica,Arial,sans-serif;
    font-size: 18px !important;
}
.digital_solution > .field__item:first-child > p{
    max-width: 80rem !important;
}
.digital_solution > .field__item:nth-child(2) {
    gap: 3em;
}
.digital_solution > .field__item:nth-child(2) > p{
    max-width: 46em;
}
.digital_solution > .field__item:nth-child(2) > img{
    box-shadow: none !important;
    width: 30em !important;
}

.digital_solution > .field__item:first-child,
.digital_solution > .field__item:nth-child(2){
    padding: 0px !important;
}
.digital_solution > .field__item {
    /* background-color: #F8F7F5; */
    padding: 72px 0;
}
.field--name-field-header-portfolio{
    padding: 3em 0 !important;
}

.digital_solution strong {
    font-size: 30px;
    background: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "TT Norms",Helvetica,Arial,sans-serif;
}
.footer_project{
    background: url(img/wave-small-bottom.png) center top -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(225deg,#0e1226 0,#253470 51%,#0e1226 100%) 0% 0% / auto repeat scroll padding-box border-box rgba(9, 9, 121, 1);
    background-blend-mode: normal, normal;
    height:20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer_project h2{
    color: #fff !important;
    font-size: 2rem !important;
    padding-bottom: 50px;
}
.footer_project a{
    background-image: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
  }
.footer_project a:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }