<div class="content-jobs">
  {% if page.segment_jobs %}
    <section id="segment_jobs" class="content-block segment_jobs">
    {{ page.segment_jobs }}
    </section>
  {% endif %}
  {% if page.why_newroco %}
    <section id="why_newroco" class="content-block why_newroco">
    {{ page.why_newroco }}
    </section>
  {% endif %}
  {% if page.benefits %}
    <section id="benefits" class="content-block benefits">
    {{ page.benefits }}
    </section>
  {% endif %}
</div>
